:root {
  --white: #f8f8f8;
  --grey: #707070;
  --lightBlue: #1792d2;
  --darkBlue: #143774;
}

/*==============================================Layout================================================*/
body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
}

.container {
  width: 90%;
  max-width: 950px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title,
.subtitle {
  margin: 0;
}
/*====================Typography=========================*/
.title {
  font-size: 2rem;
}

.subtitle {
  font-size: 0.75rem;
  color: var(--lightBlue);
  font-weight: 700;
}

.title,
.article-title {
  font-family: "Lora", serif;
  font-weight: 400;
  color: var(--darkBlue);
}

.article-title {
  font-size: 1.5rem;
}
/*================================================Navbar============================================*/
header {
  background: var(--white);
  padding: 1.1em 0;
}

nav ul {
  list-style: none;
  padding: 0.5em 0;
  display: flex;
}

nav li {
  margin-left: 2.2em;
}

nav a {
  text-decoration: none;
  color: var(--grey);
  font-size: 1rem;
  font-weight: 700;
  padding: 0.2em;
}
nav a:hover,
nav a:focus {
  color: var(--lightBlue);
  outline: none;
}

.current {
  border-bottom: 2px solid var(--grey);
}

.current:hover {
  color: var(--grey);
}

/* ======================================Media query=========================================== */
@media (max-width: 787px) {
  html {
    font-size: 14px;
  }
  .container-flex {
    flex-direction: column;
  }
  header {
    text-align: center;
  }
  nav ul {
    flex-direction: column;
  }
  nav li {
    margin: 0.4em 0;
  }
}
