:root {
  --white: #f8f8f8;
  --grey: #707070;
  --lightBlue: #1792d2;
  --darkBlue: #143774;
}

/* ==================================COLOR========================================================== */
header,
footer {
  background-color: #c2e8ce;
}

/*==============================================Layout================================================*/
body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
}

.container {
  width: 90%;
  max-width: 950px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title,
.subtitle {
  margin: 0;
}

/*================================================Navbar============================================*/
header {
  padding: 1.1em 0;
}

nav ul {
  list-style: none;
  padding: 0.5em 0;
  display: flex;
}

nav li {
  margin-left: 2.2em;
}

nav a {
  text-decoration: none;
  color: darkgreen;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.2em;
}
nav a:hover,
nav a:focus {
  color: var(--lightBlue);
  outline: none;
}

.current {
  border-bottom: 2px solid darkgreen;
}

.current:hover {
  color: darkgreen;
}

.title {
  font-size: 2rem;
}

.subtitle {
  font-size: 0.75rem;
  color: var(--lightBlue);
  font-weight: 700;
}

.title,
.article-title {
  font-family: "Lora", serif;
  font-weight: 400;
  color: var(--darkBlue);
}

.article-title {
  font-size: 1.5rem;
}

/* Main CSS */

.container-main {
  margin: 2.5em auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

main {
  width: 73%;
}

aside {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-widget {
  border: 5px double rgba(0, 110, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 1em;
  padding: 0.7em;
}

img {
  width: 100%;
  border-radius: 10px;
}

article .article-info {
  color: var(--grey);
  font-size: 0.815rem;
  margin: 0;
}

article .article-read-more {
  text-decoration: none;
  color: var(--lightBlue);
  font-weight: 700;
}

.widget-body {
  color: #323232;
}

aside .widget-recent-post-title {
  color: var(--darkBlue);
  font-weight: normal;
  margin: 0.4em 0;
}

.sidebar {
  font-size: 0.975rem;
}

h2 {
  margin: 0.2em;
}

.widget-recent-post {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}

.widget-recent-post:last-child {
  margin-bottom: 0;
}

aside .widget-title {
  color: var(--darkBlue);
  margin-bottom: 0.5em;
  text-align: center;
  font-size: 1.6rem;
}

footer {
  text-align: center;
  color: darkgreen;
  padding: 2.2em 0;
}

footer p {
  margin: 0;
}

body {
  background-color: #edffea;
}

.article-recent {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1.1em 0;
  height: 250px;
}

.article-title {
  margin: 0;
}

.article-recent-main {
  width: 68%;
  margin-top: 1.3em;
}

.article-recent-secondary {
  width: 27%;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.article-image {
  height: 70%;
}

.article-featured {
  border-bottom: 2px solid var(--grey);
  padding-bottom: 0.8em;
}

.article-featured .article-image {
  margin-bottom: 0.9em;
}

.article-featured .article-info {
  margin-bottom: 1.2em;
}

/*==================================== Media query============================= */

@media (max-width: 787px) {
  html {
    font-size: 13.5px;
  }
  .container-flex {
    flex-direction: column;
  }
  header {
    text-align: center;
  }
  nav ul {
    flex-direction: column;
  }
  nav li {
    margin: 0.4em 0;
  }
  .article-recent-main {
    width: 62%;
  }
  .article-recent-secondary {
    width: 33%;
  }
  .article-image {
    height: 100%;
    object-fit: cover;
  }
  .article-image-left {
    object-position: left;
  }
}

@media (min-width: 790px) and (max-width: 1034px) {
  html {
    font-size: 14px;
  }
  .article-recent-main {
    width: 64%;
  }
  .article-recent-secondary {
    width: 31%;
  }
}

@media (max-width: 720px) {
  .container-main {
    flex-direction: column;
  }
  main {
    width: 100%;
  }
  aside {
    width: 100%;
  }
  .article-info {
    text-align: center;
  }
  .article-featured .article-info {
    text-align: inherit;
  }
  .my-image {
    max-height: 400px;
    object-fit: cover;
    object-position: top;
  }
  .widget-image {
    width: 100%;
    object-fit: cover;
  }
  .sidebar-widget {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .widget-recent-post {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    border-bottom: 2px solid var(--grey);
    padding-bottom: 0.5em;
  }
  .widget-recent-post:last-child {
    border-bottom: none;
  }
  .article-image {
    min-height: 50%;
    object-fit: cover;
  }
}

@media (max-width: 520px) {
  html {
    font-size: 11.5px;
  }
  .article-image {
    min-height: 50%;
    object-fit: cover;
  }
  .article-recent-main {
    align-self: stretch;
    margin: 3.5em 0;
  }
  .article-recent-main {
    width: 50%;
  }
  .article-recent-secondary {
    width: 45%;
  }
}

@media (max-width: 368px) {
  html {
    font-size: 10px;
  }
  .article-recent-main {
    width: 57%;
  }
  .article-recent-secondary {
    width: 38%;
  }
  .article-recent-secondary .article-info {
    font-size: 0.655em;
    font-weight: 900;
  }

  .toggler {
    right: 0;
  }
  .article-image {
    height: 50%;
  }
}

.toggler {
  position: absolute;
  font-size: 2rem;
  right: 1.5em;
  top: 0.8em;
  display: none !important;
}

@media (max-width: 787px) {
  .toggler {
    display: initial !important;
  }
  nav {
    height: 0;
    opacity: 0;
    pointer-events: none;
  }
}

nav {
  max-height: fit-content;
  transition: all 0.3s ease-in-out;
}

.visible {
  height: 23vh;
  opacity: 1;
  pointer-events: initial;
  transition: all 0.4s ease-out;
}
